/Training Data/TestData/
/Training Data/TrainData/
/Training Data/ValidData/
/Training Data/cyclone_gabriella_patches/
/Training Data/
/peter_landslide_model_creation/Training Data/
/.vscode
/__pycache__
/gui/__pycache__
venv/
/aklshp/akl_shape.geojson

